.header-content{
    background-color: #1a5dff;
}
.header-content__text{
    color: #fff;
}

.header-link__button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    background-image: url(data:;)
    background-repeat: no-repeat;
    background-position: 50%;
}
