body.active-modal {
    overflow-y: hidden;
  }
  
  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  .overlay {
    background: rgba(49, 49, 49, 0.8);
  }
  
  .modal-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    display: flex;
  }
  
  .modal-content {
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
  }
  
  .close-modal {
    height: 3rem;
    width: 3rem;
    padding: 5px 7px;
    margin-left: 2rem;
  }
  
  /*
  
  
  
  
  
  
   */
  