body {
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 92px;

  padding: 2rem 6rem;
}
.navbar__links{
  display: flex;
 align-items:center;

 justify-content: flex-start;
 
}

.navbar__links-logo > img {
  
  width: 7opx;
  margin-right:2rem ;
  height: 80px;

  
}
.anchor-btn {
  color: #fff;
  cursor: pointer;
  
  border-radius: 5px;
}



.navbar-item {
  list-style-type: none;
  display: flex;
  margin: 0 1rem;

  justify-content: flex-end;

  padding: 10px;
  flex-direction: row;
  text-decoration: none;
  
}
.nav-link {
  font-size: 18px;
  color: cadetblue;
  text-decoration: none;
}
.item-1 {
  padding: 10px;
  font-family
  font-weight: 100;
}
.navbar-item1 {
  list-style-type: none;
  height: 10px;
  font-size: large;
}

/* @media screen and (max-width: 560px) {
    .navbar-links {
      display: none;
    }
  
    .navbar-menu {
      display: flex;
    }
  } */

@media screen and (max-width: 400px) {
  .navbar {
    padding: 2rem;
    background-color: aqua;
    color: black;
  }
}

@media screen and (max-width: 550px) {
  .navbar-item {
    display: flex;
  }
}
